# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode

# gradle
build
.gradle

# other
eclipse
run
test
logs
run-data

# Files from Forge MDK
forge*changelog.txt
/temp/
forge-1.20.1-47.3.0-mdk.zip